@import "tailwindcss";
@import "./base.css";

@source "../../templates/desktop";


@theme {
    --font-sans: var(--font-sans-stack); 
    --font-heading: var(--font-heading-stack);
    
    --color-logo: var(--logo);
    --color-bg: var(--bg);
    --color-text: var(--text);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));