{% load static %}

<section id="solutions" class="relative overflow-hidden bg-[#020817] min-h-screen">
  <!-- BACKGROUND -->
  <div class="absolute inset-0 z-0">
    <img
      src="{% static 'desktop/img/solution-bg-dark.png' %}"
      alt=""
      class="w-full h-full object-cover object-center opacity-90"
    />

    <!-- overlays -->
    <div
      class="absolute inset-0 bg-[radial-gradient(circle_at_center,rgba(59,130,246,0.12),transparent_60%)]"
    ></div>

    <div
      class="absolute inset-0 bg-linear-to-b from-[#020817]/30 via-transparent to-[#020817]"
    ></div>
  </div>

  <!-- CONTENT -->
  <div class="relative max-w-7xl mx-auto px-6 py-24 z-10">
    <div class="grid items-center gap-16 lg:grid-cols-2 lg:gap-20">
      <div class="max-w-xl">
        <h2 class="text-5xl font-bold text-text">
          Одно ядро.
          <span class="block text-transparent bg-clip-text bg-linear-to-r from-primary/70 to-accent">
            Любая оболочка.
          </span>
        </h2>

        <p class="mt-6 text-normal leading-8 text-text/60 max-w-md">
          Гибкое ядро автоматизации, которое адаптируется под ваши задачи
          и масштабируется вместе с вами.
        </p>
      </div>

      <div class="relative flex justify-center">
        <canvas id="solutions-canvas" class="w-full max-w-2xl h-[420px] sm:h-[520px] lg:h-[620px]"></canvas>
      </div>
    </div>
  </div>

  <!-- FLOATING CARDS -->
  <div class="absolute inset-0 z-10 hidden">

    <!-- CARD 1 -->
    <div
      class="absolute top-[16%] right-[14%] group scale-90"
    >
      <div
        class="relative w-70 rounded-lg border border-white/10 bg-white/3 backdrop-blur-2xl p-7 overflow-hidden"
      >
        <div
          class="absolute inset-0 bg-linear-to-br from-blue-500/10 to-transparent opacity-0 group-hover:opacity-100 transition duration-500"
        ></div>

        <div class="relative z-10">
          <div class="flex items-center gap-2 mb-2">
            <div
              class="w-5 h-5 rounded-2xl bg-blue-500/10 border border-blue-500/20 flex items-center justify-center"
            >
              ✈
            </div>

            <h3 class="text-white text-lg font-semibold">
              Интерфейсы
            </h3>
          </div>

          <p class="text-white/60 text-sm">
            Telegram, Web, App и интеграции
            в единой системе.
          </p>
        </div>
      </div>
      </div>
    </div>

    <!-- CARD 2 -->
    <div
      class="absolute top-[46%] right-[10%] group scale-90"
    >
      <div
        class="relative w-70 rounded-lg border border-white/10 bg-white/3 backdrop-blur-2xl p-7 overflow-hidden"
      >
        <div
          class="absolute inset-0 bg-linear-to-br from-blue-500/10 to-transparent opacity-0 group-hover:opacity-100 transition duration-500"
        ></div>

        <div class="relative z-10">
          <div class="flex items-center gap-2 mb-2">
            <div
              class="w-5 h-5 rounded-2xl bg-blue-500/10 border border-blue-500/20 flex items-center justify-center"
            >
              ✈
            </div>

            <h3 class="text-white text-lg font-semibold">
              Интерфейсы
            </h3>
          </div>

          <p class="text-white/60 text-sm">
            Telegram, Web, App и интеграции
            в единой системе.
          </p>
        </div>
      </div>
      </div>
    </div>

    <div
      class="absolute bottom-[10%] right-[15%] group scale-90"
    >
      <div
        class="relative w-70 rounded-lg border border-white/10 bg-white/3 backdrop-blur-2xl p-7 overflow-hidden"
      >
        <div
          class="absolute inset-0 bg-linear-to-br from-blue-500/10 to-transparent opacity-0 group-hover:opacity-100 transition duration-500"
        ></div>

        <div class="relative z-10">
          <div class="flex items-center gap-2 mb-2">
            <div
              class="w-5 h-5 rounded-2xl bg-blue-500/10 border border-blue-500/20 flex items-center justify-center"
            >
              ✈
            </div>

            <h3 class="text-white text-lg font-semibold">
              Интерфейсы
            </h3>
          </div>

          <p class="text-white/60 text-sm">
            Telegram, Web, App и интеграции
            в единой системе.
          </p>  
        </div>
      </div>
      </div>
    </div>
    

     <div
      class="absolute bottom-[3%] left-[20%] group scale-90"
    >
      <div
        class="relative w-70 rounded-lg border border-white/10 bg-white/3 backdrop-blur-2xl p-7 overflow-hidden"
      >
        <div
          class="absolute inset-0 bg-linear-to-br from-blue-500/10 to-transparent opacity-0 group-hover:opacity-100 transition duration-500"
        ></div>

        <div class="relative z-10">
          <div class="flex items-center gap-2 mb-2">
            <div
              class="w-5 h-5 rounded-2xl bg-blue-500/10 border border-blue-500/20 flex items-center justify-center"
            >
              ✈
            </div>

            <h3 class="text-white text-lg font-semibold">
              Интерфейсы
            </h3>
          </div>

          <p class="text-white/60 text-sm">
            Telegram, Web, App и интеграции
            в единой системе.
          </p>  
        </div>
      </div>
      </div>
    </div>
    

     <div
      class="absolute bottom-[23%] left-[13%] group scale-90"
    >
      <div
        class="relative w-70 rounded-lg border border-white/10 bg-white/3 backdrop-blur-2xl p-7 overflow-hidden"
      >
        <div
          class="absolute inset-0 bg-linear-to-br from-blue-500/10 to-transparent opacity-0 group-hover:opacity-100 transition duration-500"
        ></div>

        <div class="relative z-10">
          <div class="flex items-center gap-2 mb-2">
            <div
              class="w-5 h-5 rounded-2xl bg-blue-500/10 border border-blue-500/20 flex items-center justify-center"
            >
              ✈
            </div>

            <h3 class="text-white text-lg font-semibold">
              Интерфейсы
            </h3>
          </div>

          <p class="text-white/60 text-sm">
            Telegram, Web, App и интеграции
            в единой системе.
          </p>  
        </div>
      </div>
      </div>
    </div>
  </div>

  {% comment %} <script type="module" src="{% static '/desktop/js/solutions-3d.js' %}?v={{ APP_VERSION }}"></script> {% endcomment %}
</section>
